<link rel="stylesheet" type="text/css" href="../assets/questions">

<h1 class="banner">Questions#answer</h1>
<p><%=  @query %>
  <br>- You</br>
</p>
<p><%=  @answer %>
    <br>- You coach</br>
</p>
<%= link_to "Ask", ask_path %>

