<link rel="stylesheet" type="text/css" href="../assets/questions">

<h1 class="banner">Questions#ask</h1>
<form action="/answer">Ask a question to your coach
  <input type="text" name="query" placeholder="Your question">
  <input type="submit" value="Ask!">
</form>

